{% block header %}
  <h1>Synchronize Promox!</h1>
{% endblock header %}

{% block content %}

<button id="sync-proxmox-cluster" class="btn btn-success p-3 rounded">
    Synchronize Promox!
</button>

<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    document.addEventListener("DOMContentLoaded", function() {
        const button = document.getElementById('sync-proxmox-cluster');
        button.addEventListener('click', function() {
            const connection_id = {{ object.id }};
            fetch(`/api/plugins/nbp-sync/sync/${connection_id}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
            })
            .then((response) => response.json())
            .then((data) => console.log(data))
            .catch((error) => console.error('Error:', error));
        });
    });
</script>

{% endblock content %}
